In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('full_data(1).csv')

In [3]:
df.head()

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

Nearly *two-thirds* of gun deaths are *suicides*.

In [4]:
suicides = df[df['intent'] == 'Suicide']
print('pourcentage de suicides: ', len(suicides)/len(df) * 100, '%')

pourcentage de suicides:  62.674854659814685 %

More than *85 percent* of suicide victims are *male*.

In [5]:
suicide_male = suicides[suicides['sex'] == 'M']
print('pourcentage d\'hommes dans les suicides: ', len(suicide_male)/len(suicides) * 100, '%')

pourcentage d'hommes dans les suicides:  86.24614166996439 %

Around *a third* of all gun deaths are *homicides*.

In [8]:
homicides = df[df['intent'] == 'Homicide']
print('pourcentage d\'homicides: ', len(homicides)/len(df) * 100, '%')

pourcentage d'homicides:  34.89751780789302 %

Around *two-thirds* of homicide victims who are *males* in the *age-group of 15--34* are *black*.

In [10]:
homicides_male_15_34 = homicides[(homicides['sex'] == 'M') & (homicides['age'] >= 15) &(homicides['age'] <= 34)]
homicides_male_15_34_black = homicides_male_15_34[homicides_male_15_34['race'] == 'Black']
print('pourcentage d\'hommes noirs dans les homicides hommes 15 - 34 ans: ', len(homicides_male_15_34_black)/len(homicides_male_15_34) * 100, '%')

pourcentage d'hommes noirs dans les homicides hommes 15 - 34 ans:  66.12985685071575 %

*Women* constitue only *15 percent* of the total *homicide* victims.

In [14]:
women_homicides = homicides[homicides['sex'] == 'F']
print('pourcentage de femmes dans les homicides: ', len(women_homicides)/len(homicides) * 100, '%')

pourcentage de femmes dans les homicides:  15.274619058448943 %