In [1]:
import pandas as pd
import math 
import os

In [4]:
fname = os.path.join('full_data(1).csv')
df = pd.read_csv(fname, index_col=0)

In [5]:
df.head()

,year,month,intent,police,sex,age,race,hispanic,place,education
1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED

In [8]:
suicide = df[df['intent'] == 'Suicide']
print('pourcentage de mort par suicide: ', 100 * len(suicide)/len(df), '%')

pourcentage de mort par suicide:  62.67485465981468 %

In [9]:
suicide_male = suicide[suicide['sex'] == 'M']
print('pourcentage des hommes dans les morts par suicide: ', 100 * len(suicide_male)/len(suicide), '%')

pourcentage des hommes dans les morts par suicide:  86.24614166996439 %

In [13]:
homicide = df[df['intent'] == 'Homicide']
print('pourcentage de mort par homicide: ', 100 * len(homicide)/len(df), '%')

pourcentage de mort par homicide:  34.89751780789302 %

In [20]:
homicide_male = homicide[homicide['sex'] == 'M']
homicide_male_15_34 = homicide_male[(homicide_male['age'] >= 15) & (homicide_male['age'] <= 34)]
homicide_male_15_34_black = homicide_male_15_34[homicide_male_15_34['race'] == 'Black']
print('pourcentage de black dans les morts par homicide chez les hommes entre 15 et 34 ans : ', 100 * len(homicide_male_15_34_black)/len(homicide_male_15_34), '%')

pourcentage de black dans les morts par homicide chez les hommes entre 15 et 34 ans :  66.12985685071574 %

In [21]:
homicide_women = homicide[homicide['sex'] == 'F']
print('pourcentage des femmes dans les morts par homicide: ', 100 * len(homicide_women)/len(homicide), '%')

pourcentage des femmes dans les morts par homicide:  15.274619058448943 %